.scrollup-btn {
  position: fixed;
  bottom: 7%;
  right: 3%;
  padding: 0;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 50%;
  background-color: var(--cards-color);
}

.scrollup-btn-icon {
  color: var(--gray);
  transition: color 250ms ease;
}

.scrollup-btn:hover .scrollup-btn-icon {
  color: var(--primary-color);
}
