.products-list {
  display: flex;
  width: calc(100% - 20px) / 3;
  gap: 10px;
  flex-wrap: wrap;
}

.products-paginate-conteiner {
  margin: 10px 0;
  border: 1px dashed white;
}

.products-paginate-list {
  display: flex;
  gap: 10px;
  justify-content: center;
}
