.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 40px 20px;
  padding-bottom: 40px;
}

.products-paginate-conteiner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.products-paginate-list {
  display: flex;
  gap: 8px;
  justify-content: center;
}

.products-paginate-break {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #a3a3a3;
  cursor: pointer;
}

.products-paginate-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  color: #a3a3a3;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.43;
  cursor: pointer;
}

.products-paginate-active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  background-color: #6d8434;
  color: #e8e8e2;
}

.products-paginate-previous {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-right: clamp(16px, 6vw, 80px);
  cursor: pointer;
  background-color: #fafafa;
  color: #a3a3a3;
  border-radius: 50%;
  transition: all 250ms ease;
}

.products-paginate-previous:is(:hover, :active) {
  background-color: #6d8434;
  color: #e8e8e2;
}

.products-paginate-next {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  margin-left: clamp(16px, 6vw, 80px);
  cursor: pointer;
  background-color: #fafafa;
  color: #a3a3a3;
  border-radius: 50%;
  transition: all 250ms ease;
}

.products-paginate-next:is(:hover, :active) {
  background-color: #6d8434;
  color: #e8e8e2;
}

.products-empty-list {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products-empty-list-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.14;
  color: #010101;
  margin-bottom: 20px;
}

.products-empty-list-title span {
  color: #6d8434;
}

.products-empty-list-text {
  font-size: 16px;
  line-height: 1.25;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
}

.product-loader {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .products-list {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-bottom: 32px;
  }

  .products-paginate-list {
    gap: 4px;
    max-width: 100%;
  }

  .products-paginate-break,
  .products-paginate-item,
  .products-paginate-active,
  .products-paginate-previous,
  .products-paginate-next {
    width: 34px;
    height: 34px;
  }

  .products-paginate-previous {
    margin-right: 8px;
  }

  .products-paginate-next {
    margin-left: 8px;
  }

  .products-empty-list {
    padding-top: 20px;
  }

  .products-empty-list-title {
    font-size: 22px;
    text-align: center;
  }
}
