.popular-products-conteiner {
  padding-bottom: 40px;
}

.popular-products-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  margin-bottom: 20px;
}

.popular-products-list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 13px;
}

@media screen and (max-width: 1023px) {
  .popular-products-list {
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  }
}

@media screen and (max-width: 767px) {
  .popular-products-title {
    font-size: 24px;
  }
}
