.dropdown {
  position: relative;
}

.dropdown .dropdown-btn {
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 0 20px;
  width: 160px;
  height: 52px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  background-color: transparent;
  color: #010101;
  font-size: 18px;
  line-height: 1.33;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: border-color 250ms ease;
}

.dropdown-btn:hover {
  border-color: #6d8434;
  outline: none;
}

.dropdown .dropdown-content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 8px;
  z-index: 1;
  position: absolute;
  padding: 14px 20px;
  border-radius: 15px;
  width: 160px;
  box-shadow: 0 4px 11px 0 rgba(0, 0, 0, 0.04),
    0 20px 69px 0 rgba(0, 0, 0, 0.07);
  background: #fff;
}

.dropdown .dropdown-content .dropdown-item {
  cursor: pointer;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(1, 1, 1, 0.5);
  transition: color 250ms ease;
}

.dropdown .dropdown-content .dropdown-item:hover {
  color: #010101;
}
