.privacy-policy-dropbox {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.4);
}

.privacy-policy-content {
  position: relative;
  padding: 50px 20px 30px 30px;
  background-color: #fafafa;
  width: 50%;
  height: 70%;
  border-radius: 20px;
}

.privacy-policy-content h2 {
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #6d8434;
  margin-bottom: 30px;
}

.privacy-policy-close-btn {
  position: absolute;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  top: 30px;
  right: 30px;
}

.privacy-policy-text {
  padding-right: 10px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(1, 1, 1, 0.7);
  max-height: 90%;
  overflow-y: auto;
  &::-webkit-scrollbar {
    width: 9px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: rgba(1, 1, 1, 0.2);
    border-radius: 20px;
  }
}

.privacy-policy-text h3 {
  font-size: 18px;
  font-weight: 500;
  color: #6d8434;
}
