.home-conteiner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px 61px;
  /* outline: 1px solid red; */
}

.home-section {
  display: flex;
  gap: 40px;
}

.home-left-wraper {
  width: 925px;
}
