:root {
  --background-color: rgba(232, 232, 226, 1);
  --cards-color: rgba(250, 250, 250, 1);
  --primary-color: rgba(109, 132, 52, 1);
  --light-green: rgba(232, 232, 226, 0.2);
  --dark-green: rgba(88, 111, 31, 1);
  --light-gray: rgba(1, 1, 1, 0.07);
  --gray: rgba(1, 1, 1, 0.3);
  --black: rgba(1, 1, 1, 1);
}

button {
  cursor: pointer;
}

body {
  font-family: 'PP Neue Montreal', sans-serif;
  color: #010101;
  width: 1270px;
  padding: 0 15px;
  background-color: #e8e8e2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
