.modal-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #63636385;
}

.modal-content {
  width: 600px;
  background-color: var(--cards-color);
}
