.cart-modal-conteiner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(1, 1, 1, 0.4);
}

.cart-modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 480px;
  background-color: #e8e8e2;
  border-radius: 20px;
  position: relative;
  padding: 40px 40px 80px;
  position: relative;
}

.cart-modal-btn {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: transparent;
  height: 28px;
  width: 28px;
  top: 24px;
  right: 24px;
  padding: 0;
}

.cart-modal-icon {
  width: 18px;
  height: 18px;
  fill: #010101;
}

.cart-modal-image-wraper {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.cart-modal-tomatoes {
  transform: translateY(40px);
}

.cart-modal-title {
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.cart-modal-text {
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: rgba(1, 1, 1, 0.7);
}
