.conteiner {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 15px;
}

/** HEADER */

.header {
  padding-bottom: 77px;
}

.header-conteiner {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-icon-link {
  display: flex;
  align-items: center;
  padding: 0 10px;
  height: 60px;
  border-radius: 9px;
  transition: all 250ms ease;
}

.header-icon-link:is(:hover, :focus) {
  background-color: var(--primary-color);
}

.header-icon-link:is(:hover, :focus) .header-icon-logo {
  fill: #6d8434;
  background-color: #e8e8e2;
}

.header-icon-link:is(:hover, :focus) .header-food-boutique {
  fill: #e8e8e2;
}

.header-icon-logo {
  width: 20px;
  height: 20px;
  fill: #e8e8e2;
  background-color: #6d8434;
  padding: 6px;
  border-radius: 50%;
  transition: all 250ms ease;
}

.header-food-boutique {
  width: 155px;
  height: 20px;
  fill: var(--black);
  transition: all 250ms ease;
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-home-link {
  transition: all 250ms ease;
}

.header-home-link:is(:hover, :focus) {
  background-color: #586f1f;
}

.header-cart-link-text {
  transition: all 250ms ease;
}

.header-cart-link:is(:hover, :focus) .header-cart-link-text {
  color: #586f1f;
}

.header-nav-icon-conteiner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.header-navigation-icon {
  width: 18px;
  height: 18px;
  fill: var(--cards-color);
}

/** FOOTER */

.footer {
  background-color: var(--primary-color);
  padding-top: 40px;
  padding-bottom: 20px;
}

.footer-top-wraper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 128px;
}

.footer-food-link {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 20px;
}

.footer-icon-logo {
  height: 20px;
  width: 20px;
  background-color: #e8e8e2;
  padding: 6px;
  border-radius: 50%;
  fill: #6d8434;
}

.footer-food-boutique {
  width: 157px;
  height: 24px;
  fill: #e8e8e2;
}

.footer-social-list {
  display: flex;
  gap: 12px;
}

.footer-social-list a {
  display: flex;
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #e8e8e24d;
  transition: background-color 250ms ease;
}

.footer-icon-social {
  width: 28px;
  height: 28px;
  fill: #e8e8e2;
}

.footer-social-list a:is(:hover, :focus) {
  background-color: #e8e8e233;
}

.footer-center-wraper {
  width: 410px;
}

.footer-title {
  color: #e8e8e2;
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  letter-spacing: -0.02em;
  margin-bottom: 20px;
}

.footer-text {
  color: rgba(232, 232, 226, 0.7);
  font-size: 18px;
  line-height: 1.33;
}

.footer-right-wraper {
  display: flex;
  flex-direction: column;
}

.footer-subscribe-text {
  color: #e8e8e2;
  font-size: 18px;
  line-height: 1.33;
  margin-bottom: 20px;
}

.footer-input {
  width: 300px;
  height: 48px;
  padding: 0 18px;
  border-radius: 30px;
  border: 1px solid #e8e8e2;
  background-color: transparent;
  color: #e8e8e2;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

.footer-input::placeholder {
  color: rgba(232, 232, 226, 0.6);
  font-size: 16px;
  line-height: 1.5;
}

.footer-send-btn {
  width: 336px;
  height: 48px;
  border: none;
  border-radius: 30px;
  background-color: #e8e8e2;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.footer-bottom-wraper {
  display: flex;
  justify-content: space-between;
}

.footer-bottom-text {
  color: #e8e8e2;
  line-height: 1.29;
  opacity: 0.9;
}

.footer-bottom-list {
  display: flex;
  align-items: center;
  gap: 8px;
}

.footer-bottom-btn {
  border: none;
  background-color: transparent;
  color: #e8e8e2;
  font-size: 14px;
  line-height: 1.29;
}

.footer-bottom-slash {
  color: #e8e8e2;
  font-size: 14px;
  line-height: 1.29;
}
