.conteiner {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

/** HEADER */

.header {
  padding-top: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 77px;
}

.header-logo-conteiner {
  display: flex;
  align-items: center;
}

.header-icon-logo {
  width: 20px;
  height: 20px;
  fill: #e8e8e2;
  background-color: #6d8434;
  padding: 6px;
  border-radius: 50%;
}

.header-food-boutique {
  width: 155px;
  height: 20px;
  fill: var(--black);
}

.header-navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.header-nav-icon-conteiner {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  height: 38px;
  width: 38px;
  border-radius: 50%;
}

.header-navigation-icon {
  width: 18px;
  height: 18px;
  fill: var(--cards-color);
}

/** MAIN */

main {
  padding-bottom: 61px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/** FOOTER */

.footer {
  padding: 0;
  background-color: var(--primary-color);
  padding-top: 40px;
}
